<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User details </title>
</head>
<body>
    <h1>User details</h1>
    <p>First Name: {{user.first_name}}</p>
    <p>Last Name: {{user.last_name}}</p>
    <img src="{{user.image_url}}" alt="Users profile Picture">

    <h2>Posts</h2>
    <ul>
    {% for post in user_posts %}
        <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
    {% endfor %}
    </ul>
    <form action="/users/{{user.id}}/posts/new">
        <button>Add Post</button> 
    </form>

    <a href="/">Return to list</a>
    <a href="/users/{{user.id}}/edit">Edit</a>
    <form action="/users/{{user.id}}/delete" method="post">
        <input type="submit" value="Delete">
    </form>
</body>
</html>