<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adding post</title>
</head>
<body>
    <h1>Add Post for {{user.name}}</h1>
<form action="" method="post">
    <label for="title"><title>Title</title></label>
    <input type="text" name="title" id="title">
    <label for="content">Content</label>
    <input type="text" name="Content" id="content">
    <button>Add</button>
    <form action="/"> buttonCancel</form>
</form>
</body>
</html>