<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adding post</title>
</head>
<body>



    <h1>Add Post for {{user.name}}</h1>
<form action="" method="post">
    <label for="title">title</label>
    <input type="text" name="title" id="title">
    <label for="content">Content</label>
    <input type="text" name="content" id="content">
    <input type="submit" value="Add Post">
</form>
    <form action="/"> <button>Cancel</button> </form>

 <form action="">
    <label for="fun">fun</label>
    <input type="radio" name="fun" value="fun"><br>
    <label for="even more fun">even more fun</label>
    <input type="radio" name="even more fun" value="even more fun" ><br>
    <label for="bloop">bloop</label>
    <input type="radio" name="bloop" value="bloop" ><br>
    <label for="zope">zope</label>
    <input type="radio" name="zope" value="zope"><br>
 </form>
</body>
</html>